/venv/
.idea/
*.pyc
*.pyo

# PyCharm files
*.iml
.idea/workspace.xml
.idea/misc.xml
.idea/vcs.xml
.idea/modules.xml
.idea/pycharm*.xml
.idea/dictionaries
.idea/jsLibraryMappings.xml

# Lessons
Lesson_6/data/
Lesson_6/MODIS_bands/

Lesson_7/data/